.loading-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
}

.loading-container h1 {
  color: var(--primary-color);
  font-size: 26px;
  line-height: 33px;
  letter-spacing: -0.015cm;
  font-weight: 600;
  margin-left: 860px;
  margin-top: 143px;
}